Flow-2.json
[
    {
        "id": "82b1cf66ef6e1a47",
        "type": "tab",
        "label": "Flow 2 Fecha en formato humano",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eec0ff9ac0187df4",
        "type": "inject",
        "z": "82b1cf66ef6e1a47",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "4a0b748466aceeea"
            ]
        ]
    },
    {
        "id": "534fae06e5487575",
        "type": "debug",
        "z": "82b1cf66ef6e1a47",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "4a0b748466aceeea",
        "type": "function",
        "z": "82b1cf66ef6e1a47",
        "name": "function 1",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "534fae06e5487575"
            ]
        ]
    }
]